.ml40 {
    margin-left: 40px;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.color-blue {
    color: $textBlue;
}

.float-right {
    float: right;
}

.bold900 {
    font-weight: 900;
}

.text-white {
    color: $textWhite;
}

.gray-bg {
    background-color: $secondaryColor;
}

.black-bg {
    background-color: $bgBlack;
}

.white-bg {
    background-color: $primaryColor;
}

.blue-bg {
    background-color: $bgBlue;
}

.transparent-bg {
    background-color: rgba(0, 0, 0, 0.01);
}

.bubble-right {
    position: relative;
    padding: 50px;
    margin: 30px 0;
    background: $primaryColor;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: $borderSilver solid 1px;

        &::after {
            content: '';
            position: absolute;
            border-style: solid;
            border-width: 14px 0 14px 17px;
            border-color: transparent $primaryColor;
            display: block;
            width: 0;
            z-index: 1;
            right: -17px;
            top: 51px;
        }

        &::before {
            content: '';
            position: absolute;
            border-style: solid;
            border-width: 14px 0 14px 17px;
            border-color: transparent $borderGrey;
            display: block;
            width: 0;
            z-index: 0;
            right: -18px;
            top: 51px;
        }
}

.bubble-left {
    position: relative;
    padding: 50px;
    margin: 30px 0;
    background: $primaryColor;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: $borderSilver solid 1px;

        &::after {
            content: '';
            position: absolute;
            border-style: solid;
            border-width: 14px 17px 14px 0;
            border-color: transparent $primaryColor;
            display: block;
            width: 0;
            z-index: 1;
            left: -17px;
            top: 51px;
        }

        &::before {
            content: '';
            position: absolute;
            border-style: solid;
            border-width: 14px 17px 14px 0;
            border-color: transparent $borderSilver;
            display: block;
            width: 0;
            z-index: 0;
            left: -18px;
            top: 51px;
        }
}
