$primaryColor: white;
$secondaryColor: #fafafa;

$bgBlue: #768fc7;
$bgBlack: #111111;
$bgGrey: #222222;

$textBlue: #8992C8;
$textWhite: white;
$textBlack: black;

$borderSilver: silver;
$borderGrey: #7f7f7f;